<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gamecontrol.codeclock" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_intwined_48x48"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JobActivity"
            android:label="@string/title_activity_job"
            android:screenOrientation="portrait" />

        <service
            android:name=".TimeService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ProjectActivity"
            android:label="@string/title_activity_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateProjectActivity"
            android:label="@string/title_activity_create_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateJobActivity"
            android:label="@string/title_activity_create_job"
            android:screenOrientation="portrait" />
    </application>

</manifest>
